#filter {
	margin-bottom: 15px;
}

fieldset {
	padding-bottom: 0px;
}

#companyFilter {
	float: left;
}

#factoryFilter {
	float: left;
	margin-left: 15px;
}

.filter {
	width: 40%;
}

.filter select {
	width: 215px;
}

.filter span {
	display: block;
}

.disabled {
	background-color: #f1f1f1;
}

#legend {
	clear: left;
	float: right;
	margin-top: -30px;
}

#workingArea {
	position:relative;
	height:450px
}

.canvas {
	position: relative;
	top: 0;
	left:0;
	width: 600px;
	height: 400px;
}

#joglCanvasControls {
	float: right;
}

#charts {
	position: relative;	
}

#tabs {
	position: absolute;
	top: 0;
	right: 0;
	width: 350px;
}

#profileChooserDialogBody p {
	margin-bottom: 0;
	margin-top: 8px;
	padding-bottom: 0;
}

#profibleChooserDialogGroupBy p {
	margin-bottom: 0;
	padding-top: 8px;
	padding-bottom: 0;
}

ul.groupBy {
	list-style: none;
}

.last {
	border-left: 1px solid black;
	padding-left: 8px;
}