#companyFilter {
	float: left;
}

#factoryFilter {
	float: left;
	margin-left: 15px;
}

.filter {
	width: 35%;
}

#legend {
	clear:left;
	float:right;
}

#workingArea {
	position:relative;
	height:450px
}

.canvas {
	position: relative;
	top: 0;
	left:0;
	width: 600px;
	height: 400px;
}

#charts {
	position: relative;	
}

#tabs {
	position: absolute;
	top: 0;
	right: 0;
	width: 350px;
}

#profileChooserDialogBody p {
	margin-bottom: 0;
	margin-top: 8px;
	padding-bottom: 0;
}

#profibleChooserDialogGroupBy p {
	margin-bottom: 0;
	padding-top: 8px;
	padding-bottom: 0;
}

ul.groupBy {
	list-style: none;
}