h2{
    font-size: 105%;
    text-transform: uppercase;
}


form {
 margin: 0;
 padding: 1px;
}

TABLE.ms-tabla{
 font-family:Verdana
}


body {
 font-family: georgia, verdana, arial, sans-serif;
/*Arial, Helvetica, Verdana, Geneva, sans-serif;*/
 margin : 0%;
 background-color: #FFFFFF;
/* margin-right: 1%;
 margin-left: 1%;
 margin-top: 1%;
 margin-bottom: 1%
 font-size: small;*/
}

p {
 color : #000;
 text-align : justify;
}

input , textarea , select, button, option {
	border-style: solid;
	border-color: black;
	border-width: thin;
}


#cabecera{
 width : 100%; 
 /*background-color: #eee;  */
}

#cabecera_logeado{
 width : 100%; 
 background-color: #eee;
}

.logo {
 padding : 4px;
 float : left;
}
.logoCuadrado{
    text-align: center;
}

#titulo_logo { 
        float: left;
        padding: 4px;
}
.verde_grande { color: #50D0C8; font-size: large; font-weight: bold;}
.negrita_grande {font-weight: bold;}

.noticia_cabecera{ 
 	margin-left: 60%;
	text-align: center;
	font-size: 70%;
/*	border: 1px solid black;  */
}

#logoynoticia{
width: 100%;
}

.terminoslegales1 {

 /*padding : 1em;  */
 font-style : italic;
 text-align : center;
 font-size: 70%;
}


#parte_central{

}


#bloque_izquierdo{
 float : left;
 /* background-color:/*  #ccc; / #eee; */
 border : 1px solid #00f; 
 width : 10em;  
 
/* padding-top:1em;*/
}

.bloque_izquierdo_separacion {
	background-color: #FFFFFF;
}

/*
#bloque_izquierdo h5 {
 color: white;
 background-color: blue; 
 text-align: center;
}
*/

.titulo_menu {
 color: Blue;
 background: #add8e6;
 text-align: center;
 font-weight: bold;
}


.titulo_menu_intra {
 color: white;
 background-color: /*#660000;  *//*#4D4DFf; */ #7093DB;
 text-align: center;
 font-weight: bold;
}

#menu {
	/* padding-bottom: 1em; */
}
#menu_intra {
	/* padding-bottom: 1em; */
}


.login{
    padding-left: 2px;
    font-size: 70%;
    font-weight: bold;
}

#estadisticas{
	text-align: center
}

#centro
{
 margin-left : 10.5em;
}


#barra_navegacion
{
   /* background: #add8e6;*/
   background-image:url(../../resources/images/alarcos/Degradado.jpg);
   /* background-color: Red;*/
	/* #00cccf; */ 
	/*#aaccff; */
	font-family:Verdana;
	font-style : normal;
	font-weight: bold;
}

/*
a {text-decoration: underline}
a:link { text-decoration : none; }
a:visited {text-decoration: none }
*/
a {color:  	#3232CD;
   font-family: Verdana; }
a:hover { color: #f00; }
a:link { text-decoration: none }
a:visited { text-decoration: none }
a:active { text-decoration: none}
a:hover { text-decoration: none }

a.sin_resaltar{ color: #eee;}
a.sin_resaltar:link { text-decoration: none }
a.sin_resaltar:visited { text-decoration: none }
a.sin_resaltar:active { text-decoration: none}
a.sin_resaltar:hover { text-decoration: none }

a.pasivo{ color: #00f;}
a.pasivo:link { text-decoration: none }
a.pasivo:visited { text-decoration: none }
a.pasivo:active { text-decoration: none}
a.pasivo:hover { text-decoration: none }
a.menu 
{   
 font-family: Verdana;
 font-size: 81%;
 font-weight: bold;
 display : block;
 padding-left : 3px;
 text-decoration : none;
 padding-bottom: 2px;
 color :  white;
 border-bottom: 1px solid #898989;
}

a.menuSup 
{
 font-family: Verdana;
 font-size: 81%;
 font-weight: bold;
 display : block;
 padding-left : 3px;
 text-decoration : none;
 padding-bottom: 2px;
 color :  white;
 font-family: Verdana;

}

a.menuPulsado 
{
 font-family: Verdana;
 font-size: 81%;
 font-weight: bold;
 display : block;
 padding-left : 3px;
 text-decoration : none;
 color : Blue;
}

a.menu:link { text-decoration: none}
a.menu:visited { text-decoration: none }
a.menu:active { text-decoration: none}
a.menu:hover {
 text-decoration: none; 
 background : /* #eee; */ White;
 color : #f00;
}

a.menuSup:link { text-decoration: none}
a.menuSup:visited { text-decoration: none }
a.menuSup:active { text-decoration: none}
a.menuSup:hover {
 text-decoration: none; 
 background : /* #eee; */ White;
 color : #f00;
}

a.navegacion {color: white; text-decoration: none;}
a.navegacion:visited { text-decoration: none }
a.navegacion:hover {background: #00829F; color: #f00;}



a.pasivo{ color: #00f;}
a.pasivo:link { text-decoration: none }
a.pasivo:visited { text-decoration: none }
a.pasivo:active { text-decoration: none}
a.pasivo:hover { text-decoration: none }

.terminoslegales2 {
/* float: left; */
 padding : 1em;
 font-style : italic;
 text-align : center;
 font-size : 70%;   
}

#pie {
 float : left;
 width : 100%;
 margin-top : 0%;
 padding : 4px;
}




.centrado { text-align: center;}
.centrado_small {text-align: center;
                 font-size: 75%;}
.referencia_revista{
	font-style: italic;
	font-weight: bold;
	font-size: smaller}
.importante{
	 text-align : center;
         font-style: italic;
	 color: #008080;
	 font-weight: bold; 
}


.comite {
	font-weight: bold;
}

dt { 
	color : #800000;
	font-weight: bold;
}

.rojo{ color: #800;}

.titulo{
    font-size: 90%;
    font-weight: bold;
}
.autorPrincipal{
     font-style: italic;
/*     font-weight: bold;
     font-size: smaller;
*/ 
}
.restoAutores{
/*     font-style: italic;
     font-size: smaller;
*/
}

.areaTematica{
    font-size: smaller;
}

.tabla_articulos{
	/*font-size:80%; */
    /*background-color: #898989;*/
	
}
.titulo_tabla{
    background-color: #00DDEE;
    /*#00EE88; */
    /*#DDDDFF;*/
    font-size: 80%;

}

.small{
    font-size: 70%;
}


.volumen{ list-style-type: none; 
           font-weight: bold;
            }

.numero{ list-style-type: none;
            font-weight: normal;
            font-size: smaller;
            padding-left: 2em;}

.verresumen{cursor: pointer;
            font-size: 70%;
            font-weight: bold;
            color: #CC3300}
            
.fila_par{ 
	background-color: #EEF8FF;
	/*#EEFFEE; */ 
		/*#CCFFFF; */
		/*#EEFFFF*/
		/*#eee;  white*/
}

.fila_impar{ 
	background-color: #DDEEFF;
	/* #DDFFDD; */
	/*#99FFFF; */
	/*#DDFFFF*/
	/* #CCCCCC  #eee; */
}
            
.fila_sola {background-color:/* #CCCCCC*/ #eee; }

.menuitem{ font-size: smaller;
            padding-left: 1em;
            padding-right: 1em;
            padding-bottom: 1em;
}

/* accion */
a.accion { color:  	#3232CD;
           font-weight: bold;
    font-size: 70%;
 border-bottom: 1px solid #898989;
 display : block;
           }
a.accion:link { text-decoration: none }
a.accion:visited { text-decoration: none }
a.accion:active { text-decoration: none}
a.accion:hover { 
    background: none;
    text-decoration: none; 
     color : #f00; }

a.accion_sinborde { color:  	#3232CD;
           font-weight: bold;
    font-size: 70%;
 /*display : block; */
           }
a.accion_sinborde:link { text-decoration: none }
a.accion_sinborde:visited { text-decoration: none }
a.accion_sinborde:active { text-decoration: none}
a.accion_sinborde:hover { 
   background: none;
    text-decoration: none; 
     color : #f00; }




.bold_small {
        font-size: 70%;
        font-weight: bold;
}
.acciones {text-align: center;
           font-size: 70%;
 
            }
.acciones_sinborde {
/*text-align: center; */
           font-size: 70%;}
        
.tabla_areas {background-color: #eee}

/* .fila_tabla_areas {background-color: #eee} */
a.areas {
 
 text-decoration : none;
 color :  	#3232CD;
/* background : #eee; */
}
a.areas:link { text-decoration: none}
a.areas:visited { text-decoration: none }
a.areas:active { text-decoration: none}
a.areas:hover {
 text-decoration: none; 
 background : /* #CCCCCC; */ #eee;
 color : #f00;
}

.formulario{           
	font-weight: bold;
}
.ta{ color: red}

.pregunta{ font-weight: bold;}


.workflow{
	padding-left: 2em;

}

.success{
	color: blue;
	font-weight: bold;
}

.error{ 
	color: red;
	font-weight: bold;
}

.hidden{
	display: none;
}

.seccionNombre {
	font-size: 95%;
	padding-left: 1em;
    padding-bottom: 1em;
   	color: red;
   	font-weight: bold;
}

.recordarPass {
	font-size: 80%;
	padding-left: 0.5em;
}

.label {
	font-weight: bold;
	background-color: #F3F3F3;
}

.value {
	background-color: #F3F3FF;
}

.paginator{
	background-color: #F3F3FF;
}

.paginator table .previous
{
  WIDTH: 20%;
  text-align: left;
  
}

.paginator table .pages
{
  WIDTH: 60%;
  text-align: center;
  
}

.paginator table .next
{
  WIDTH: 20%;
  text-align: right;
  
}

.pregunta_importante
{
	background-color: #F3F3F3;
	font-size: 120%;
}

.revision_preguntas_importantes
{
	font-size: 60%;
}

.subject
{
	font-size: 95%;
   	font-weight: bold;		
}

.body
{
	font-size: 95%;
   	font-weight: bold;
}

.tabla_carga_revisor{
	font-size: 95%;
}

.tabla_respuestas_importantes_titulo
{
	
}

tabla_respuestas_importantes_respuesta
{

}

.tabla_respuestas_importantes_th
{
	background-color: #F3F3F3;
}

.tabla_respuestas_importantes_td
{
	background-color: #F3F3F3;
}
