
.ms-nav{

 width: 180px;
 height: 100%;
 

}
.ms-main{
    width: 100%;  
    height: 100%;
}
body, form {
    margin: 0;
    WIDTH: 100%;  
    height:100%;
}

.ms-sbtable 
{ 
	background-color:#FFFFFF; 
        font-family: Verdana; 
        font-size: .7px; 
        font-style: normal; 
        font-weight: normal
}
.ms-sbrow 
{ 
	margin-top: 3px ; margin-bottom: 1px ; height : 24px ; border: 0px; background-color:#FFFFFF; 
}

.ms-sblbcorner 
{  
	background-color: #FFFFFF; 
	/*background-image: url();*/ 
	background-repeat: no-repeat; 
	background-position: right top; 
	padding-left: 0px;	
	padding-right: 5px; 
	padding-bottom: 4px
}
.ms-sblbcornerRTL
{  
	background-color: #FFFFFF; 
	background-position: right top; 
	padding-left: 0px;
	padding-right: 5px; 
	padding-bottom: 4px

}
.ms-sbtopcorner 
{  
	background-color: #FFFFFF; 
	/*background-image: url();*/ 
	background-repeat: no-repeat; 
	background-position: left top; 
	border-bottom-width: 0px;
}


.ms-sbtopcornerRTL
{  
	background-color: #FFFFFF; 
	background-position: left top; 
	border-bottom-width: 0px;
}
.ms-searchbox {
        background-color: #FFFFFF;
	font-family: verdana; 
	font-size: 8pt; 
}
.ms-searchform {
	background-color: #FFFFFF;
	font-family: verdana; 
	font-size: 8pt; 
}
.ms-searchcorner {           
    background-color: #FFFFFF;
    background-image: url(""); 
    background-repeat: no-repeat;       
    background-position: left top;
}

.ms-bannerframe, .ms-GRHeaderBackground, .ms-storMeFree
{ 
    background-image: url(../images/alarcos/alarcos_cabecera_01.jpg);
    background-repeat: no-repeat;
    height:90px; 
    width:1920px;
    border: none;
}

.ms-phnav1wrapper {
	background-image: url(../images/alarcos/alarcos_cabecera_02.jpg);
	WIDTH: 100%; 
    height: 28px;
	background-color: #FFFFFF;
	BACKGROUND-REPEAT: no-repeat;
    padding: 0px; 
    border: none;
        
  
}

.ms-titleareaframe {
   border:none;
   background-image: url(../images/alarcos/alarcos_cabecera_03.jpg);
   height: 57px;
   background-repeat: no-repeat;
   WIDTH: 100%;  
}

.ms-arco{

    background-image: url(../images/alarcos/alarcos_barra_izda_alto.jpg);
    background-repeat:no-repeat;
    width:175px;
    height:540px;
   
}

.ms-navegacion
{
    background-image: url(../images/alarcos/alarcos_barra_izda_bajo.jpg);
    background-repeat:repeat-y;
    height:100%; 
    width:175px;
   
}


.ms-pvnav a{
    color:#000000;
}

.ms-navheader
{
	font-size: 8pt;
	font-weight:bold;
	font-family: Verdana, sans-serif;
	text-align: left;
	color: black;
	background-position: left bottom; 
	padding-bottom: 2px;
	padding-top: 5px;
}



.ms-pvnavmidC1 
{ 
font-family: Verdana; font-size: .7em; font-style: normal; font-weight: normal; color: #000000; padding-top: 1px; padding-right: 0px; padding-bottom: 2px; padding-left: 0px ; text-align: left;
}

.ms-pvnavmidC1 a:hover 
{
text-decoration: underline; 
color: #440404;

}

.ms-phnavtableone a:hover
{
	text-decoration:underline;
        border: none;
}
.ms-phnavtableone 
{
	 padding-top: 0px; 
	 padding-right: 0px; 
	 padding-bottom: 0px; 
	 padding-left: 0px;
         border:none;
         height: 28px;
         
}
TD.ms-titleareaframe{
border:none;
background-repeat: no-repeat;
}
TABLE.ms-titleareaframe{
border:none;
background-repeat: no-repeat;
}


.ms-vb, .ms-vb2, .ms-GRFont, .ms-vb-user{
    font-family: verdana; 
    font-size: 8pt; 
    vertical-align: top;
    color: #000080;
       
}

.ms-vb a, .ms-vb2 a, .ms-GRStatusText a,.ms-vb-user a {
    color: #000080;
    text-decoration: none; 
}
.ms-vb a:hover, .ms-vb2 a:hover, .ms-vb-user a:hover {
    color: #ff3300;
    text-decoration: underline; 
}
.ms-vb a:visited, .ms-vb2 a:visited, .ms-GRStatusText a:visited, .ms-vb-user a:visited  {
   color: #000066;
   text-decoration: none; 
}
.ms-vb a:visited:hover, .ms-vb2 a:visited:hover, .ms-vb-user a:visited:hover {
    color: #CC9752;
    text-decoration: underline; 
}
.ms-vb2, .ms-vb-title, .ms-vb-icon,.ms-vb-user {
    border-top: 1px solid #e4e4e4;
}
.ms-vb-icon {
    vertical-align: top;
    width: 16px;
    padding-top: 2px;
    padding-left: 4px; 
    padding-right: 0px; 
    padding-bottom: 0px;
}
.ms-vb-user {
    padding-top: 2px;
    padding-left: 0px; 
    padding-right: 0px; 
}
.ms-vb2{
    padding-top: 3px;
    padding-left: 4px; 
    padding-right: 0px; 
    padding-bottom: 4px;
}


.ms-pubTitle
{
 
    font-size: 14pt; 
    font-weight: bold; 
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #CC9752;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
   
}


.ms-pubTitle A:link, .ms-pubTitle A:visited
{
    color:#003399;
    text-decoration:none; 
    cursor:hand;
}
.ms-pubTitle A:hover
{
    color: #F8AC28;
    text-decoration:underline; 
    cursor:hand;
}
.ms-publicTitle
{
    font-weight: bold; 
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #003399;
    padding-left: 8px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12pt; 
}


.ms-publicTitle A:link, .ms-publicTitle A:visited
{
    color:#003399;
    text-decoration:none; 
    cursor:hand;
}
.ms-publicTitle A:hover
{
    color: #F8AC28;
    text-decoration:underline; 
    cursor:hand;
}
.ms-publicPDF
{
    font-weight: bold; 
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #CC9752;
    padding-left: 8px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 8pt; 
}


.ms-publicPDF A:link, .publicPDF A:visited
{
    color:#CC9752;
    text-decoration:none; 
    cursor:hand;
}
.ms-publicPDF A:hover
{
    color: #F8AC28;
    text-decoration:underline; 
    cursor:hand;
}
.ms-publicAutores
{
  
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #000000;
    padding-left: 8px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10pt; 
}
.ms-publicDatos
{
   
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #000066;
    padding-left: 8px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10pt; 
}
.ms-publicRevista
{
   
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #000000;
    padding-left: 8px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10pt; 
}
.ms-publicCongreso
{
   
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #000000;
    padding-left: 8px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10pt; 
}

.ms-asigTitle
{
    font-weight: bold; 
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #CC9752;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11pt; 
}

.ms-nombre{

    font-weight: bold; 
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #CC9752;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 9pt; 

}
.ms-titulacion{

    font-weight: bold; 
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #000066;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 8pt; 

}
.ms-puesto{ 

  
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #000000;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 8pt; 

}
.ms-datos{

   
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #CC9752;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 8pt; 


}
.ms-datosRedes{


    font-family: verdana, arial, helvetica, sans-serif; 
    color: #CC9752;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 8pt;

}
.ms-descRedes{


    font-family: verdana, arial, helvetica, sans-serif; 
    color: #000000;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 8pt;

}
.ms-eventoTitle a:link, .ms-eventotitle a:visited{

    font-weight: bold;
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #CC9752;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10pt;
    text-decoration: none;

}
.ms-eventoTitle a:hover{

     color: #F8AC28;
    text-decoration:underline; 
    cursor:hand;
}
.ms-eventoURL{

    font-weight: bold;
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #003399;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 9pt;
    text-decoration: none;

}
.ms-datosProyectos{

    font-weight: bold;
    font-family: verdana, arial, helvetica, sans-serif; 
    color: #CC9752;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 8pt;

}
.ms-descProyectos{


    font-family: verdana, arial, helvetica, sans-serif; 
    color: #000000;
    padding-left: 6px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 8pt;

}
.ms-webMiembros a:link, .ms-webMiembros a:visited{


    font-family: verdana, arial, helvetica, sans-serif; 
    color: #CC9752;
    padding-left: 8px; 
    padding-right: 7px; 
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 8pt;
    text-decoration:none;


}

.ms-pagetitle
{
    color: #131FA5;  
    width: 300px;
    text-align: right;
}

.ms-tMiembros{

  height: 150px;
  /*align: left;*/
  vertical-align: top;
  width: 50%;
}