<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
	
<beans>    
    <!-- DAOs instantiated by Spring -->
    <bean id="userDao" class="es.uclm.inf_cr.alarcos.desglosa_web.dao.hibernate.UserDAOHibernate">
    	<constructor-arg value="es.uclm.inf_cr.alarcos.desglosa_web.model.User"/>
        <property name="hibernateTemplate" ref="hibernateTemplate" /> 
	</bean>
	
	<bean id="groupDao" class="es.uclm.inf_cr.alarcos.desglosa_web.dao.hibernate.GroupDAOHibernate">
    	<constructor-arg value="es.uclm.inf_cr.alarcos.desglosa_web.model.Group"/>
        <property name="hibernateTemplate" ref="hibernateTemplate" />  
	</bean>
	 
	<bean id="roleDao" class="es.uclm.inf_cr.alarcos.desglosa_web.dao.hibernate.RoleDAOHibernate">
    	<constructor-arg value="es.uclm.inf_cr.alarcos.desglosa_web.model.Role"/>
        <property name="hibernateTemplate" ref="hibernateTemplate" />  
	</bean>

	<bean id="companyDao" class="es.uclm.inf_cr.alarcos.desglosa_web.dao.hibernate.CompanyDAOHibernate">
    	<constructor-arg value="es.uclm.inf_cr.alarcos.desglosa_web.model.Company"/>
        <property name="hibernateTemplate" ref="hibernateTemplate" />  
	</bean>
	
	<bean id="factoryDao" class="es.uclm.inf_cr.alarcos.desglosa_web.dao.hibernate.FactoryDAOHibernate">
    	<constructor-arg value="es.uclm.inf_cr.alarcos.desglosa_web.model.Factory"/>
        <property name="hibernateTemplate" ref="hibernateTemplate" />  
	</bean>
	
	<bean id="projectDao" class="es.uclm.inf_cr.alarcos.desglosa_web.dao.hibernate.ProjectDAOHibernate">
    	<constructor-arg value="es.uclm.inf_cr.alarcos.desglosa_web.model.Project"/>
        <property name="hibernateTemplate" ref="hibernateTemplate" />  
	</bean>
	
	<bean id="subprojectDao" class="es.uclm.inf_cr.alarcos.desglosa_web.dao.hibernate.SubprojectDAOHibernate">
    	<constructor-arg value="es.uclm.inf_cr.alarcos.desglosa_web.model.Subproject"/>
        <property name="hibernateTemplate" ref="hibernateTemplate" />  
	</bean>
	
	<bean id="marketDao" class="es.uclm.inf_cr.alarcos.desglosa_web.dao.hibernate.MarketDAOHibernate">
    	<constructor-arg value="es.uclm.inf_cr.alarcos.desglosa_web.model.Market"/>
        <property name="hibernateTemplate" ref="hibernateTemplate" />  
	</bean>
	
    <bean id="profileDao" class="es.uclm.inf_cr.alarcos.desglosa_web.dao.ProfileDAO" />

</beans>
