<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
	
<beans>    
    <!-- SAF2 actions instantiated by Spring -->
    <bean id="profileAction" class="es.uclm.inf_cr.alarcos.desglosa_web.actions.ProfileAction" singleton="false" />
    <bean id="companyAction" class="es.uclm.inf_cr.alarcos.desglosa_web.actions.CompanyAction" singleton="false">
    	<property name="companyDao" ref="companyDao"/>
    </bean>
    <bean id="factoryAction" class="es.uclm.inf_cr.alarcos.desglosa_web.actions.FactoryAction" singleton="false">
    	<property name="factoryDao" ref="factoryDao"/>
    	<property name="companyDao" ref="companyDao"/>
    </bean>
    <bean id="visualizationAction" class="es.uclm.inf_cr.alarcos.desglosa_web.actions.VisualizationAction" singleton="false">
    	<property name="glObjectManager" ref="glObjectManager"/>
    	<property name="factoryDao" ref="factoryDao"/>
    	<property name="companyDao" ref="companyDao"/>
    	<property name="projectDao" ref="projectDao"/>
    	<property name="subprojectDao" ref="subprojectDao"/>
    </bean>
    
    <!-- Other objects instantiated by Spring -->
    <bean id="glObjectManager" class="es.uclm.inf_cr.alarcos.desglosa_web.control.GLObjectManager">
    	<property name="companyDao" ref="companyDao"/>
    	<property name="factoryDao" ref="factoryDao"/>
    	<property name="projectDao" ref="projectDao"/>
    	<property name="marketDao" ref="marketDao"/>
	</bean>
	
	<bean id="applicationContextProvider" class="es.uclm.inf_cr.alarcos.desglosa_web.util.ApplicationContextProvider"/>
	
</beans>
