<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
	
<beans>
	<!-- Example of SAF2 action instantiated by Spring -->
    <bean id="helloWorldAction" class="es.uclm.inf_cr.alarcos.desglosa_web.HelloWorldAction" singleton="false" />
    
    <!-- SAF2 actions instantiated by Spring -->
    <bean id="indexAction" class="es.uclm.inf_cr.alarcos.desglosa_web.IndexAction" singleton="false" />
    <bean id="startVisualizationAction" class="es.uclm.inf_cr.alarcos.desglosa_web.StartVisualizationAction" singleton="false" />
    <bean id="showAdminPanelAction" class="es.uclm.inf_cr.alarcos.desglosa_web.ShowAdminPanelAction" singleton="false" />
    <bean id="showMyAccountAction" class="es.uclm.inf_cr.alarcos.desglosa_web.ShowMyAccountAction" singleton="false" />
    <bean id="contactUsAction" class="es.uclm.inf_cr.alarcos.desglosa_web.ContactUsAction" singleton="false" />
</beans>
